<div class="event-dialog-wrapper">
  <mat-toolbar class="mat-primary m-0">
    <div class="flex justify-between items-center w-full py-2">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <span class="flex-grow"></span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-4 m-0">

    <form name="eventForm" [formGroup]="eventForm" class="event-form">
      <div class="flex flex-wrap pt-2">

        <div class="w-full">
          <mat-form-field class="full-width">
            <input 
            matInput 
            name="title" 
            formControlName="title" 
            placeholder="Title" 
            required>
          </mat-form-field>
        </div>

  

        <div class="flex flex-col w-full">
          <mat-form-field>
            <input 
            matInput 
            [matDatepicker]="startDateDP" 
            placeholder="Start Date" 
            name="startDate" 
            formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
            <mat-datepicker #startDateDP></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input 
            matInput 
            [matDatepicker]="endDateDP" 
            placeholder="End Date" 
            name="endDate" 
            formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
            <mat-datepicker #endDateDP></mat-datepicker>
          </mat-form-field>
        </div>
      
        <div class="flex flex-col w-full">
     

          <mat-form-field>
            <mat-label>Event Type</mat-label>
            <select matNativeControl required formControlName="eventType">
              <option value="TRADING_COMPETITION">Trading</option>
              <option value="TRAINING_SESSION">Training</option>
              <option value="WORKSHOP">Workshop</option>
              <option value="CONFERENCE">Conference</option>
            </select>
          </mat-form-field>
                <mat-form-field  class="">

                  <input 
                  matInput 
                  type="number" 
                  formControlName="maxParticipants" 
                  placeholder="Max Participants" 
                  required>
                <mat-error *ngIf="eventForm.get('maxParticipants').hasError('min')">
                  Max Participants must be greater than 0.
                </mat-error>
                  </mat-form-field>
                  <mat-form-field formGroupName="meta" class="">

            <textarea 
            matInput 
            formControlName="notes" 
            placeholder="Description" 
            max-rows="4">
            </textarea>
            </mat-form-field>
            <mat-form-field  class="">

              <input 
              matInput 
              type="number" 
              formControlName="prizePool" 
              placeholder="Prize Pool" 
              required>
            <mat-error *ngIf="eventForm.get('prizePool').hasError('min')">
              Prize Pool must be greater than 0.
            </mat-error>
          </mat-form-field>
        </div>

      </div>
  
        
     
    </form>
  </div>

  <div class="m-0 px-6 py-4 flex justify-between items-center">

    <button 
    mat-raised-button 
    color="primary" 
    (click)="dialogRef.close({action: 'save', event: eventForm.value})" 
    [disabled]="eventForm.invalid"
    aria-label="SAVE">
    Save
    </button>

    <button 
    *ngIf="action ==='edit'" 
    mat-icon-button color="warn" 
    (click)="dialogRef.close({action: 'delete'})" 
    aria-label="Delete"
    matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    
  </div>
</div>