<div class="flex flex-wrap">
  <div
    *ngFor="let user of users"
    class="w-full md:w-1/2 sm:w-1/2"    
    (click)="selectUser(user)" 
    style="cursor: pointer;">
    <mat-card [ngClass]="selectedUser && user.id === selectedUser.id ? 'user-card p-0 selected':'user-card p-0'">
      <mat-card-title class="mb-4">
        <div class="card-title-text flex">
          <a href="" class="toolbar-avatar sm mr-4 rtl:ml-4">
            <img src="assets/images/avatars/001-man.svg" alt="User Avatar">
          </a>
          <span class="text-16 font-bold">{{ user.username }}</span>
          <span class="flex-grow"></span>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="!pt-4">
        <div class="user-details">
          <p><mat-icon class="text-muted text-[18px]">email</mat-icon> {{ user.email }}</p>
          <p><mat-icon class="text-muted text-[18px]">account_balance</mat-icon> Account Balance: ${{ user.accountBalance | number }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
