<div class="m-3 flex flex-col md:flex-row justify-between " [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">

  <div class="info-card primary flex-grow">
    <div class="description">The stock market is filled with individuals who know the price of everything, but the value of nothing</div>
  </div>
  <div class="md:w-[100px] lg:w-1/6 xl:w-2/6"></div>
  <button mat-raised-button class="m-2" color="primary" (click)="createPortfolio()">
    Create Portfolio</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <mat-table [dataSource]="dataSource" matSort>


      <ng-container matColumnDef="Symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name"> {{row.Symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Open">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Open </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="age"> {{row.Open}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Close">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Close </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.Close}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="High">
        <mat-header-cell *matHeaderCellDef mat-sort-header> High </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.High}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Low">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Low </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.Low}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Volume">
        <mat-header-cell *matHeaderCellDef mat-sort-header> volume </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.Volume}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-sm-button color="warn" (click)="deletePortfolio(row.idPortfolio)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invest">
        <mat-header-cell *matHeaderCellDef mat-sort-header> invest</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-sm-button color="primary" (click)="openPopUp(row.idPortfolio)">
            <mat-icon>trending_up</mat-icon> <!-- Use 'trending_up' icon for investment -->
          </button>
        </mat-cell>
        
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

  </mat-card-content>
</mat-card>