<!-- Dashboard card row -->


<div class="flex flex-wrap">
  <div
    class="w-full md:w-1/3 sm:w-1/2"
    [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '250ms' } }"
  >
    <mat-card class="p-0 ">
      <h6 class="ml-4 rtl:mr-4 rtl:ml-4 mt-4"> BTC open vs highest prices</h6>
      <div
        echarts
        [options]="monthlyTrafficChartBar"
        [autoResize]="true"
        style="height: 400px;"
      ></div>
    </mat-card>
  </div>

  <div
    class="w-full md:w-1/3 sm:w-1/2"
    [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }"
  >
    <mat-card class="p-4">
      <h6 class="">{{this.daterange}} Volume BTC</h6>
      <div
        echarts
        [options]="trafficchartbar"
        [autoResize]="true"
        style="height: 400px;"
      ></div>
    </mat-card>
  </div>

  <div
    class="w-full md:w-1/3 sm:w-1/2"
    [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '350ms' } }"
  >
    <mat-card class="p-0 ">
      <h6 class=" ml-4 rtl:mr-4 rtl:ml-4 mt-4">BTC OpenVSHighest prices Sources</h6>
      <div
        echarts
        [options]="dailyBandwithUsage"
        [autoResize]="true"
        style="height: 400px;"
      ></div>
    </mat-card>
  </div>

  <div
    
    class="w-full md:w-3/5"
    [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '400ms' } }"
  >
    <mat-card
      class="p-0 "
    >
    <div *ngIf="cryptodata && cryptodata.length > 0">
      <table mat-table [dataSource]="cryptodata">
        <ng-container matColumnDef="v">
          <th mat-header-cell *matHeaderCellDef> Volume </th>
          <td mat-cell *matCellDef="let crypto"> {{ crypto.v }} </td>
        </ng-container>
    
        <ng-container matColumnDef="vw">
          <th mat-header-cell *matHeaderCellDef> average vol </th>
          <td mat-cell *matCellDef="let crypto"> {{ crypto.vw }} </td>
        </ng-container>
    
        <ng-container matColumnDef="o">
          <th mat-header-cell *matHeaderCellDef> open price </th>
          <td mat-cell *matCellDef="let crypto"> {{ crypto.o }} </td>
        </ng-container>
    
        <ng-container matColumnDef="c">
          <th mat-header-cell *matHeaderCellDef> close price </th>
          <td mat-cell *matCellDef="let crypto"> {{ crypto.c }} </td>
        </ng-container>
    
        <ng-container matColumnDef="h">
          <th mat-header-cell *matHeaderCellDef> Highest </th>
          <td mat-cell *matCellDef="let crypto"> {{ crypto.h }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="newcryptocolumns"></tr>
        <tr mat-row *matRowDef="let row; columns: newcryptocolumns;"></tr>
      </table>
    </div>
    
    </mat-card>
  </div>
  <div
    class="w-full md:w-2/5"
    [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '450ms' } }"
  >
    <mat-card class="p-0 ">
      <div class="flex flex-wrap">
        <div class="w-4/5 p-4">
          
        
          <!-- Range Input -->
          <div class="mb-4">
            <label for="range" class="block text-sm font-medium text-gray-700">portion size in days</label>
            <input type="text" id="range" [(ngModel)]="range" name="range" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter range">
          </div>
        
          <!-- Date Start Input -->
          <div class="mb-4">
            <label for="datestart" class="block text-sm font-medium text-gray-700">Start Date</label>
            <input type="date" id="datestart" [(ngModel)]="start" name="datestart" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        
          <!-- Date End Input -->
          <div class="mb-4">
            <label for="dateend" class="block text-sm font-medium text-gray-700">End Date</label>
            <input type="date" id="dateend" [(ngModel)]="end" name="dateend" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        
          <!-- Submit Button -->
          <button (click)="applyFilters(range,start,end)" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4">Apply Filters</button>
        </div>
        
        
         
      </div>
    </mat-card>
    <mat-card
      class="p-0 "
      [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '500ms' } }"
    >
      

          <span class="flex-grow"></span>
          <button
            class="card-control"
            mat-icon-button
            [matMenuTriggerFor]="menu2"
          >
            <mat-icon class="">more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Campaign Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>do_not_disturb</mat-icon>
              <span>Disable All Campaigns</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        
