<div class="">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-3/4 md:w-3/4">
      <mat-card class="p-6" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
        <div class="flex flex-wrap justify-between">
          <div class="flex flex-col items-start  justify-center w-7/10">
            <mat-card-title class="!text-lg">Pick a User !</mat-card-title>
            <app-users (userSelected)="onUserSelected($event)"></app-users>
          </div>
        </div>
      </mat-card>
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2">
          <mat-card class="p-4" [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
            <h5>Profit for {{ selectedUser?.username || 'No User Selected' }}</h5>
            <div *ngIf="loading">Loading trades...</div>
            <div *ngIf="!loading && results.length > 0">

            <div class="flex justify-between items-baseline" *ngFor="let r of results">
              <div class="mr-2 rtl:ml-2">
                <i class="material-icons text-10 text-{{r.color}} mr-4 rtl:ml-4">lens</i>
              </div>
              <div class="lm-title flex-grow">
                <p class="font-weight-semi mb-0">{{r.name}}</p>
                <p class="text-small text-muted">{{r.date}}</p>
              </div>
              <div class="ul-progressbar flex-grow">
                <div class="progress-percentage flex">
                  <span class="flex-grow"></span>
                  <span class="text-muted">{{r.completed}}%</span>
                </div>
                <mat-progress-bar mode="determinate" [value]="r.completed" [color]="r.color"></mat-progress-bar>
              </div>
            </div>
            </div>
          </mat-card>
        </div>
        <div class="w-full sm:w-1/2">
          <mat-card class="p-4" [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
            <h5>Total Trades by Asset</h5>
    <apx-chart
      [series]="studyChart.series"
      [chart]="studyChart.chartOptions.chart"
      [legend]="studyChart.chartOptions.legend"
      [grid]="studyChart.chartOptions.grid"
      [plotOptions]="studyChart.chartOptions.plotOptions"
      [colors]="studyChart.chartOptions.colors"
      [dataLabels]="studyChart.chartOptions.dataLabels"
      [xaxis]="studyChart.chartOptions.xaxis"
      [yaxis]="studyChart.chartOptions.yaxis">
    </apx-chart>
          </mat-card>
        </div>
        <div class="w-full">
          <mat-card class="p-4" [@animate]="{ value: '*', params: { y: '50px', delay: '500ms' } }">
            <h5>Make a Trade</h5>
            <form name="tradeForm" [formGroup]="tradeForm" class="event-form" (ngSubmit)="onSubmit()">
              <div class="flex flex-wrap pt-2">
                
                <!-- Asset Selection -->
                <div class="w-full">
                  <mat-form-field class="full-width">
                    <mat-label>Asset</mat-label>
                    <select matNativeControl required formControlName="asset">
                      <option *ngFor="let asset of assets" [value]="asset.id">{{ asset.assetName }}</option>
                    </select>
                  </mat-form-field>
                </div>
        
            
        
                <!-- Amount Input -->
                <div class="flex flex-col w-full">
                  <mat-form-field class="full-width">
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      type="number"
                      min="0"
                      placeholder="Enter amount"
                      formControlName="amount"
                      required>
                    <mat-error *ngIf="tradeForm.get('amount')?.hasError('min')">
                      Amount must be greater than or equal to 0.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="w-full">
                <mat-form-field class="full-width">
                  <mat-label>Profit</mat-label>
                  <input matInput type="text" formControlName="profit" placeholder="Profit will be calculated" readonly />
                </mat-form-field>
              </div>
              <!-- Submit Button -->
              <button mat-raised-button color="primary" class="mt-4" [disabled]="tradeForm.invalid">
                Submit
              </button>
            </form>
          </mat-card>
        </div>
        
        <div class="w-full sm:w-1/2" [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }">
          <mat-card class="mat-bg-primary p-6">
            <div class="flex items-center">
              <div class="mr-6 rtl:ml-6 rounded-full flex items-center justify-center">
                <span class="text-white font-bold text-18">R</span>
              </div>
              <div class="flex-grow">
                <h4 class="text-white m-0">React tutorial</h4>
                <p class="text-muted-white m-0">You watched today</p>
              </div>
              <button mat-icon-button>
                <mat-icon class="text-muted-white">play_arrow</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
        <div class="w-full sm:w-1/2" [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }">
          <mat-card class="mat-bg-warn p-6">
            <div class="flex items-center">
              <div class="mr-6 rtl:ml-6 rounded-full flex items-center justify-center">
                <span class="text-white font-bold text-18">P</span>
              </div>
              <div class="flex-grow">
                <h4 class="text-white m-0">Python for busy developers</h4>
                <p class="text-muted-white m-0">You watched yesterday</p>
              </div>
              <button mat-icon-button>
                <mat-icon class="text-muted-white">play_arrow</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/4 md:w-1/4" [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
      <mat-card class="p-4">
        <div class="mat-heading-label">CURRENT EVENTS</div>

        <div class="flex mb-4" *ngFor="let event of reminders">
          <div class="flex items-center flex-grow">
            <mat-icon class="mr-2 rtl:ml-2">{{ eventTypeIcons[event.type] }}</mat-icon>
            <div>
              <h6 class="mb-1">{{ event.title }}</h6>
              <small class="text-muted">{{ event.date }}</small>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="isParticipant(event, selectedUser?.id)"
            (click)="addParticipantToEvent(selectedUser?.id, event.id)"
            style="font-size: small;"
          >
            {{ isParticipant(event, selectedUser?.id) ? 'Joined' : 'Join Event' }}
          </button>
        </div>
        
        <div class="my-4"></div>
        <div class="mat-heading-label">RESOURCES</div>

<div class="flex flex-col mb-4">
  <button mat-raised-button color="primary" (click)="openCreateResourcePopup()">Add New Resource</button>
</div>

<div class="flex mb-4" *ngFor="let resource of resources">
  <div class="w-[40px] h-[40px] mr-4 rtl:ml-4 rounded-full mat-bg-chip flex items-center justify-center">
    <!-- Icon based on resource type -->
    <mat-icon>{{ resource.icon }}</mat-icon>
  </div>
  <div class="flex flex-col justify-center flex-grow">
    <h6 class="mb-1">
      {{ resource.title }}
      <a [href]="resource.url" target="_blank" class="text-primary">(Open)</a>
    </h6>
    <small class="text-muted">Type: {{ resource.type }}</small>
  </div>
</div>


      </mat-card>
    </div>
  </div>
</div>